	<div id="wrapper">

<!-- Intro -->
	<section id="intro" class="main">
		{{!-- <span class="icon fa-diamond major"></span> --}}
		<h2>Administer Users and Projects Here</h2>
		<ul class="actions">
			<li><a href="/projectcreate" class="button big dark">Create a New Project</a></li>
		</ul>

		{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div id="container">
      <a href="/logout">Logout</a>
</div>
	</section>

<!-- Portfolio Items -->
	<section class="main items">
		<article class="item">
      <h3>Projects</h3>
			<p>Display the current projects here. Gray out inactive projects. Add edit/delete functionality.</p>
			<ul class="actions">
<li><a href="/projectcreate" class="button dark">Create New Project</a></li>
			</ul>
		</article>
		<article class="item">
      <h3>Users</h3>
			<p>Display the current userlist here. Gray out inactive users. Add edit/delete functionality.</p>
			<ul class="actions">
<li><a href="/createuser" class="button dark">Create New User</a></li>
			</ul>
		</article>
</section>

</div>