	<div id="wrapper">
    	<section id="intro" class="main">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="container">
  <ul>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/dashboardAdmin">Dashboard (Admin)</a>
    </li>
    <li>
      <a href="/createuser">Create a User</a>
    </li>
    <li>
      <a href="/projectcreate">Create a project (requires authentication)</a>
    </li>
        <li>
      <a href="/projectdetails">View Project Details</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</div>

</section>
</div>