<div id="wrapper">

<!-- Intro -->
	<section id="intro" class="main">
		{{!-- <span class="icon fa-diamond major"></span> --}}
		<h2>New Project</h2>
    <form action="/upload" enctype="multipart/form-data" method="POST"> 
    <p>Upload your file for approval here:</p>
   <input type="file" name="photo">
   <input type="submit" class="button big dark" value="Upload Photo">

		<ul class="actions">
			<li><a href="#" class="button big dark">Create Project</a></li>
		</ul>
    </form>
	</section>

</div>