<div id="wrapper">

<!-- Intro -->
<section id="intro" class="main">
<h2>New Project</h2>

<form action="/projectcreate" enctype="multipart/form-data" method="POST" id="form-container">
<label for="owner">Project Owner</label>
<select name="theOwner">
	{{#each user}}
  	<option value="{{ this._id }}">{{ this.email }}</option>
	{{/each}}
</select>
<br><br>

<label for="client">Project Client</label>
<select name="theClient">
	{{#each user}}
  	<option value="{{ this._id }}">{{ this.email }}</option>
	{{/each}}
</select>
<br><br>

<label for="projectname">Project Name</label>
  <input id="owner" type="text" name="theProjectName" placeholder="Give the project a wonderful name">
<br><br>

<label for="projectname">Project Message</label>
<textarea  id="projectmessage" name="theProjectMessage" cols="40" rows="5"></textarea>

<label for="component">Upload your file for approval here:</label>
   <input type="file" name="photo">
   {{!-- <input type="submit" class="button medium dark" value="Upload Photo"> --}}
<br><br>

  <button class="button big dark">Create Project</button>
		
    </form>
	</section>

</div>


