<div id="wrapper">
  	<section id="intro" class="main">
<h2>Log in</h2>

<form action="/login" method="POST" id="form-container">
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>
  <div>
    <input type="submit" class="button big dark" value="Log In">
  </div>

</form>
</section>
</div>
